<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Chat message</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,600;0,700;1,300;1,400&display=swap");
    </style>
  </head>
  <body
    style="font-family: Titillium Web, sans-serif"
    class="w-full text-white bg-[#242424] 100vh"
  >
    <div class="w-full">
      <div class="w-full px-3 flex items-center justify-between">
        <div class="pl-2 pt-2 font-bold md:font-normal text-2xl md:text-xl">
          My AI Chatbot
        </div>
        <div class="pl-2 pt-2 font-bold md:font-normal text-2xl md:text-xl">
          <a 
          href="{{ url_for('index') }}"
          >    Home </a>
        </div>
      </div>
      <div class="w-full flex-wrap md:flex justify-start">
        <div class="w-full bg-[#D3C2E3] min-h-[80vh] flex-wrap relative mt-2">
          <div class="w-full relative min-h-[92vh]">
            <!-- <div class="bg-primary flex w-full p-1 text-white items-center">
              <div>chatbot image</div>
              <div class="text-base pl-1 flex items-center">
                <div class="capitalize">Chatbot AI</div>
                Verified badge
              </div>
            </div> -->
            <div
              class="p-2 w-full mb-6 flex-wrap max-h-[38rem] md:max-h-[40rem] scroll h-auto scroll overflow-y-scroll"
            >
              <div class="space-y-3" id="response">
                <div class="w-full text-sm">
                  <div class="w-[80%] flex justify-end items-end flex-row-reverse justify-items-end text-sm">
                    <div class="w-auto bg-[#242424] text-primary px-2 rounded-b-2xl rounded-tr-2xl overflow-hidden">
                      <h5 class="py-2 text-xs text-white">My name is emeka, i am here to assist you me any question</h5>
                    </div>
                  </div>
                </div>
                <!-- {/* sender start */} -->
                <!-- {/* sender end */} -->

                <!-- {/* receiver start ///  */} -->
                <!-- {/* receiver end */} -->
              </div>
            </div>
            <div class="bg-[#D3C2E3] absolute bottom-0 w-full p-2">
              <div class="flex bg-[#4F0A89] justify-between items-center w-full">
                <div class="w-[80%] md:w-[90%]  ">
                  <input
                    type="text"
                    class="w-full form-control focus:border focus:border-white focus-within:border-none px-4 text-sm p-2 py-3  text-black"
                    placeholder="Start typing"
                    name="question"
                    id="question"
                  />
                </div>
                <div class="w-[20%]  flex items-center justify-center ">
                  <button
                    id="submit-button"
                    class="text-center -py-5   cursor-pointer"
                  >
                    Send
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#submit-button").click(function (e) {
          e.preventDefault();
    
          var userMessage = $("#question").val();
    
          // Append user's message
          var userMessageHTML = `
            <div class="w-full text-sm flex justify-end">
              <div class="max-w-[70%] flex justify-start text-sm">
                <div class="w-auto bg-[#4F0A89] text-white px-2 py-2 rounded-b-2xl rounded-tl-2xl overflow-hidden">
          <h6 className="text-right text-[0.6rem] capitalize opacity-75 font-extrabold">Me:</h6>
                  <h5 class="py-1 text-xs text-white">${userMessage}</h5>
                </div>
              </div>
            </div>
          `;
    
          $("#response").append(userMessageHTML);
    
          $.ajax({
            type: "POST",
            url: "/chatbot",
            data: {
              question: userMessage,
            },
            success: function (result) {
              var chatbotMessage = result.response;
    
              // Append chatbot's message
              var chatbotMessageHTML = `
                <div class="w-full text-sm">
                  <div class="w-[80%] flex justify-end items-end flex-row-reverse justify-items-end text-sm">
                    <div class="w-auto bg-[#242424] text-primary px-2 rounded-b-2xl rounded-tr-2xl overflow-hidden">
          <h6 className="text-right text-[0.6rem] opacity-75 font-extrabold">Emeka</h6>

                      <h5 class="py-2 text-xs text-white">${chatbotMessage}</h5>
                    </div>
                  </div>
                </div>
              `;
    
              $("#response").append(chatbotMessageHTML);
    
              $("#question").val("");
            },
            error: function (result) {
              alert("Error sending message.");
            },
          });
        });
      });
    </script>

  </body>
</html>
